@import '~common/style-guide/index';

.packages-tree-coverage-cell {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-family: $semibold-font;

  &__icon {
    display: flex;
    align-items: center;

    &--type {
      &--success {
        color: map-get($monochrome, default);
      }

      &--warning {
        color: map-get($orange, default);
      }

      &--error {
        color: map-get($red, default);
      }
    }
  }
}
