@import '~common/style-guide/index';

.coverage-section {
  &__link {
    font-family: $semibold-font;
    color: map-get($primary-blue, default);
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
  }

  &__build-info {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }

  &__bar-tooltip {
    position: relative;
  }

  &__baseline-build {
    position: absolute;
    width: 108px;
    height: 1px;
    border-top: 1px dashed map-get($monochrome, shade);
  }
}
