@import '~common/style-guide/index';

.card {
  height: 160px;
  width: 100%;
  border: 1px solid map-get($monochrome, medium-tint);
  background-color: map-get($monochrome, light-tint);

  &__header {
    margin: 16px;
    line-height: 20px;
    font-size: 14px;
    font-family: $semibold-font;
    color: map-get($monochrome, default);
    text-transform: uppercase;
  }

  &__content {
    margin: 16px;
    display: flex;
    flex-direction: row;
  }

  &__section {
    margin-right: 24px;
  }

  &__section-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
  }
}
