@import '~common/style-guide/index';

.tabs-panel {
  display: flex;

  &__tab-label {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 46px;
    box-sizing: border-box;
    border: none;
    padding: 0 0 4px 0;
    margin-right: 16px;
    background: none;
    color: map-get($monochrome, default);
    white-space: nowrap;
    outline: none;
    font-family: $semibold-font;
    font-size: 14px;
    cursor: pointer;

    &--active {
      color: map-get($monochrome, black);

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        border-radius: 2px;
        background-color: map-get($primary-blue, default);
        transform: translateY(50%);
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.65;
    }
  }
}
