@import '~common/style-guide/index';

.test-to-code-header-cell {
  &__content {
    border-left: 1px solid map-get($monochrome, medium-tint);
  }

  &__label {
    font-family: $semibold-font;
    font-size: 12px;
    color: map-get($monochrome, default);
    text-transform: uppercase;
    margin-left: 16px;
  }

  &__value {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 20px;
    color: map-get($monochrome, black);
    pointer-events: none;

    &--clickable {
      cursor: pointer;
    }
  }

  &__arrow-icon {
    height: 14px;
    width: 12px;
    margin-right: 8px;

    &--type {
      &--increase {
        color: map-get($green, default);
      }
      &--decrease {
        color: map-get($red, default);
      }
    }
  }

  &__link-icon {
    color: map-get($primary-blue, default);
    margin-left: 4px;
  }
}
