@import '~common/style-guide/index';

.finish-scope-modal {
  width: 480px;

  &__content {
    margin: 24px;
  }

  &__ignore-scope {
    margin: 24px 0px 36px 0px;
  }

  &__actions-panel {
    margin-top: 38px;

    & > * {
      margin-right: 16px;
    }
  }

  &__header {
    max-width: 460px;
  }

  &__management-sessions-button {
    font-size: 14px;
  }
}
