@import '~common/style-guide/index';

.new-sidebar {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  background-color: map-get($monochrome, light-tint);

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e4e6ec;
    color: map-get($primary-blue, default);
    cursor: pointer;

    &--type {
      &--active {
        color: map-get($monochrome, default);
        background-color: map-get($monochrome, white);
      }
    }
  }
}
