@import '~common/style-guide/index';

.test-to-code-cell {
  &__content {
    padding-left: 16px;
  }

  &__value {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: map-get($monochrome, black);

    &--clickable {
      cursor: pointer;
    }
  }

  &__arrow-icon {
    height: 14px;
    width: 12px;
    margin-right: 8px;

    &--type {
      &--increase {
        color: map-get($green, default);
      }
      &--decrease {
        color: map-get($red, default);
      }
    }
  }

  &__link-icon {
    margin-left: 4px;
    color: map-get($primary-blue, default);
  }
}
