@import '~common/style-guide/index';

.items-actions {
  &__count {
    color: map-get($monochrome, default);
    font-size: 16px;
    font-family: $light-font;
    line-height: 20px;
  }

  &__action {
    margin-left: 24px;
    color: map-get($primary-blue, default);
    cursor: pointer;
  }
}
