@import '~common/style-guide/index';

.overview {
  &__routing-tabs-panel {
    width: 100%;
  }

  &__info-panel {
    display: flex;
    gap: 24px;
  }

  &__summary-panel {
    gap: 28px;
    padding-top: 16px;
    border-top: 1px solid map-get($monochrome, medium-tint);
  }

  &__tab-content {
    margin-top: 8px;
  }

  &__tab-icon-wrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: map-get($monochrome, black);
  }
}
