@import '~common/style-guide/index';

.session-info {
  height: 64px;
  padding: 12px 24px;
  border-bottom: 1px solid map-get($monochrome, medium-tint);
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, black);

  &__additional-session-info {
    display: flex;
    margin-top: 4px;
    gap: 8px;
    color: map-get($monochrome, default);

    &[disabled] {
      opacity: 0.2;
    }
  }

  &__session-abort {
    height: 100%;
  }

  &__session-id {
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 20px;

    &[disabled] {
      opacity: 0.2;
    }
  }

  &__actions-panel {
    display: flex;
    gap: 16px;
  }

  &__test-type {
    font-size: 12px;
    line-height: 16px;
    color: map-get($monochrome, default);
  }

  &__session-type {
    width: max-content;
  }
}
