@import '~common/style-guide/index';

.scope-timer {
  font-size: 12px;
  line-height: 20px;

  &__duration {
    color: map-get($monochrome, default);
    font-family: $regular-font;
  }

  &__timer {
    font-family: $semibold-font;
    color: map-get($green, default);
  }
}
