@import '~common/style-guide/index';

.test-to-code-name-cell {
  font-size: 24px;

  &__name-cell {
    font-family: $light-font;
    font-size: 24px;

    &--on-click {
      font-family: $semibold-font;
      font-size: 14px;
      color: map-get($primary-blue, default);
      cursor: pointer;
    }
  }

  &__additional-information {
    margin-top: 4px;
    font-size: 12px;
  }
}
