@import '~common/style-guide/index';

.build-list {
  &__content {
    margin: 0 24px;
  }

  &__title {
    height: 58px;
    color: map-get($monochrome, black);
    font-family: $regular-font;
    font-size: 20px;
    line-height: 24px;
  }

  &__items-count {
    color: map-get($monochrome, default);
    font-size: 18px;
    font-family: $light-font;
    line-height: 24px;
    margin-left: 8px;
  }

  &__name-cell {
    display: flex;
    align-items: center;
    gap: 8px;
    color: map-get($primary-blue, default);
    font-family: $semibold-font;
    cursor: pointer;
  }

  &__baseline-flag {
    display: flex;
    align-items: center;
    color: map-get($monochrome, default);
  }

  &__header-cell {
    display: flex;
    flex-direction: column-reverse;
    height: 52px;
    margin-top: 14px;
  }

  &__header-label {
    font-size: 12px;
    line-height: 24px;
  }
}
