@import '~common/style-guide/index';

.tests-to-run-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__bar-title {
    height: 24px;
    vertical-align: top;
    font-size: 12px;
    font-family: $semibold-font;
    color: map-get($monochrome, default);
    line-height: 16px;
  }

  &__table-title {
    font-size: 12px;
    font-family: $semibold-font;
    color: map-get($monochrome, default);
    line-height: 32px;
  }

  &__state-cell {
    line-height: 64px;
  }

  &__done {
    font-family: $semibold-font;
    color: map-get($green, default);
  }
}
