@import '~common/style-guide/index';

.packages-tree-table-row {
  align-items: center;
  min-height: 40px;
  border-bottom: 1px solid map-get($monochrome, medium-tint);

  &__table-row-cell {
    padding: 0 16px;

    &:first-child {
      padding: 0 0;
    }

    &--type {
      &--start {
        width: 100%;
        justify-self: start;
      }

      &--end {
        justify-self: end;
      }
    }
  }
}
