@import '~common/style-guide/index';

.no-installed-plugins-stub {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-top: 1px solid map-get($monochrome, medium-tint);
  color: map-get($monochrome, default);

  &__icon {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 24px;
    line-height: 32px;
  }

  &__message {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  &__link {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    font-family: $semibold-font;
    text-decoration: none;
    text-transform: lowercase;
    color: map-get($primary-blue, default);

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
