@import '~common/style-guide/index';

.test-to-code-coverage-cell {
  &__content {
    padding-left: 16px;
  }

  &__value {
    font-size: 20px;
    color: map-get($monochrome, black);
  }

  &__arrow-icon {
    margin-left: 8px;

    &--type {
      &--increase {
        color: map-get($green, default);
      }
      &--decrease {
        color: map-get($red, default);
      }
    }
  }
}
