@import '~common/style-guide/index';

.name-cell {
  display: flex;
  align-items: center;

  &__prefix {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__content {
    color: map-get($monochrome, black);
    font-size: 14px;
  }
}
