@import '~common/style-guide/index';

.baseline-build-modal {
  width: 480px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 24px 24px;
  }

  &__message {
    font-size: 14px;
    line-height: 20px;
  }

  &__actions-panel {
    display: flex;
    gap: 16px;
  }
}
